Django==1.9.5
PageRange==0.4
PyYAML==3.11
dj-database-url==0.4.1
django-auth-ldap==1.2.8
django-bootstrap3==7.0.1
django-braces==1.8.1
gunicorn==19.4.5
psycopg2==2.6.1
six==1.10.0
whitenoise==3.0
git+git://github.com/holtgrewe/pyldap@feature/use-env-library
